In [2]:
from requests import Request, Session
import json
import pandas as pd
session = Session()

In [3]:
url = 'https://api.census.gov/data/2021/cbp?get=NAME,EMP&for=state:*'

In [4]:
session = Session()
response = session.get(url)
data = json.loads(response.text)
print(data)

[['NAME', 'EMP', 'state'], ['Alabama', '1719114', '01'], ['Alaska', '251093', '02'], ['Arizona', '2601482', '04'], ['Arkansas', '1029703', '05'], ['California', '14835360', '06'], ['Colorado', '2416632', '08'], ['Connecticut', '1442204', '09'], ['Delaware', '408714', '10'], ['District of Columbia', '483307', '11'], ['Florida', '8877389', '12'], ['Georgia', '4034309', '13'], ['Hawaii', '469179', '15'], ['Idaho', '645239', '16'], ['Illinois', '5270871', '17'], ['Indiana', '2754576', '18'], ['Iowa', '1352146', '19'], ['Kansas', '1188432', '20'], ['Kentucky', '1617040', '21'], ['Louisiana', '1592665', '22'], ['Maine', '504710', '23'], ['Maryland', '2283019', '24'], ['Massachusetts', '3175568', '25'], ['Michigan', '3768321', '26'], ['Minnesota', '2627416', '27'], ['Mississippi', '930852', '28'], ['Missouri', '2478144', '29'], ['Montana', '380268', '30'], ['Nebraska', '851783', '31'], ['Nevada', '1157850', '32'], ['New Hampshire', '586840', '33'], ['New Jersey', '3570543', '34'], ['New Mexico', '606085', '35'], ['New York', '7887280', '36'], ['North Carolina', '3903814', '37'], ['North Dakota', '332684', '38'], ['Ohio', '4822238', '39'], ['Oklahoma', '1346568', '40'], ['Oregon', '1575613', '41'], ['Pennsylvania', '5279905', '42'], ['Rhode Island', '412761', '44'], ['South Carolina', '1936015', '45'], ['South Dakota', '363923', '46'], ['Tennessee', '2704416', '47'], ['Texas', '10798364', '48'], ['Utah', '1433829', '49'], ['Vermont', '239758', '50'], ['Virginia', '3340509', '51'], ['Washington', '2821109', '53'], ['West Virginia', '519122', '54'], ['Wisconsin', '2518727', '55'], ['Wyoming', '198810', '56'], ['American Samoa', '7808', '60'], ['Guam', '49876', '66'], ['Commonwealth of the Northern Mariana Islands', '12763', '69'], ['Puerto Rico', '660654', '72'], ['United States Virgin Islands', '25652', '78']]

In [5]:
type(data)

list

In [6]:
df = pd.DataFrame(data, columns=['NAME','EMP','state'])
df

                                            NAME       EMP  state
0                                           NAME       EMP  state
1                                        Alabama   1719114     01
2                                         Alaska    251093     02
3                                        Arizona   2601482     04
4                                       Arkansas   1029703     05
5                                     California  14835360     06
6                                       Colorado   2416632     08
7                                    Connecticut   1442204     09
8                                       Delaware    408714     10
9                           District of Columbia    483307     11
10                                       Florida   8877389     12
11                                       Georgia   4034309     13
12                                        Hawaii    469179     15
13                                         Idaho    645239     16
14                                      Illinois   5270871     17
15                                       Indiana   2754576     18
16                                          Iowa   1352146     19
17                                        Kansas   1188432     20
18                                      Kentucky   1617040     21
19                                     Louisiana   1592665     22
20                                         Maine    504710     23
21                                      Maryland   2283019     24
22                                 Massachusetts   3175568     25
23                                      Michigan   3768321     26
24                                     Minnesota   2627416     27
25                                   Mississippi    930852     28
26                                      Missouri   2478144     29
27                                       Montana    380268     30
28                                      Nebraska    851783     31
29                                        Nevada   1157850     32
30                                 New Hampshire    586840     33
31                                    New Jersey   3570543     34
32                                    New Mexico    606085     35
33                                      New York   7887280     36
34                                North Carolina   3903814     37
35                                  North Dakota    332684     38
36                                          Ohio   4822238     39
37                                      Oklahoma   1346568     40
38                                        Oregon   1575613     41
39                                  Pennsylvania   5279905     42
40                                  Rhode Island    412761     44
41                                South Carolina   1936015     45
42                                  South Dakota    363923     46
43                                     Tennessee   2704416     47
44                                         Texas  10798364     48
45                                          Utah   1433829     49
46                                       Vermont    239758     50
47                                      Virginia   3340509     51
48                                    Washington   2821109     53
49                                 West Virginia    519122     54
50                                     Wisconsin   2518727     55
51                                       Wyoming    198810     56
52                                American Samoa      7808     60
53                                          Guam     49876     66
54  Commonwealth of the Northern Mariana Islands     12763     69
55                                   Puerto Rico    660654     72
56                  United States Virgin Islands     25652     78

In [7]:
df = df.set_index('NAME')
df

                                                   EMP  state
NAME
NAME                                               EMP  state
Alabama                                        1719114     01
Alaska                                          251093     02
Arizona                                        2601482     04
Arkansas                                       1029703     05
California                                    14835360     06
Colorado                                       2416632     08
Connecticut                                    1442204     09
Delaware                                        408714     10
District of Columbia                            483307     11
Florida                                        8877389     12
Georgia                                        4034309     13
Hawaii                                          469179     15
Idaho                                           645239     16
Illinois                                       5270871     17
Indiana                                        2754576     18
Iowa                                           1352146     19
Kansas                                         1188432     20
Kentucky                                       1617040     21
Louisiana                                      1592665     22
Maine                                           504710     23
Maryland                                       2283019     24
Massachusetts                                  3175568     25
Michigan                                       3768321     26
Minnesota                                      2627416     27
Mississippi                                     930852     28
Missouri                                       2478144     29
Montana                                         380268     30
Nebraska                                        851783     31
Nevada                                         1157850     32
New Hampshire                                   586840     33
New Jersey                                     3570543     34
New Mexico                                      606085     35
New York                                       7887280     36
North Carolina                                 3903814     37
North Dakota                                    332684     38
Ohio                                           4822238     39
Oklahoma                                       1346568     40
Oregon                                         1575613     41
Pennsylvania                                   5279905     42
Rhode Island                                    412761     44
South Carolina                                 1936015     45
South Dakota                                    363923     46
Tennessee                                      2704416     47
Texas                                         10798364     48
Utah                                           1433829     49
Vermont                                         239758     50
Virginia                                       3340509     51
Washington                                     2821109     53
West Virginia                                   519122     54
Wisconsin                                      2518727     55
Wyoming                                         198810     56
American Samoa                                    7808     60
Guam                                             49876     66
Commonwealth of the Northern Mariana Islands     12763     69
Puerto Rico                                     660654     72
United States Virgin Islands                     25652     78

In [8]:
df.drop('NAME', inplace = True)
df

                                                   EMP state
NAME
Alabama                                        1719114    01
Alaska                                          251093    02
Arizona                                        2601482    04
Arkansas                                       1029703    05
California                                    14835360    06
Colorado                                       2416632    08
Connecticut                                    1442204    09
Delaware                                        408714    10
District of Columbia                            483307    11
Florida                                        8877389    12
Georgia                                        4034309    13
Hawaii                                          469179    15
Idaho                                           645239    16
Illinois                                       5270871    17
Indiana                                        2754576    18
Iowa                                           1352146    19
Kansas                                         1188432    20
Kentucky                                       1617040    21
Louisiana                                      1592665    22
Maine                                           504710    23
Maryland                                       2283019    24
Massachusetts                                  3175568    25
Michigan                                       3768321    26
Minnesota                                      2627416    27
Mississippi                                     930852    28
Missouri                                       2478144    29
Montana                                         380268    30
Nebraska                                        851783    31
Nevada                                         1157850    32
New Hampshire                                   586840    33
New Jersey                                     3570543    34
New Mexico                                      606085    35
New York                                       7887280    36
North Carolina                                 3903814    37
North Dakota                                    332684    38
Ohio                                           4822238    39
Oklahoma                                       1346568    40
Oregon                                         1575613    41
Pennsylvania                                   5279905    42
Rhode Island                                    412761    44
South Carolina                                 1936015    45
South Dakota                                    363923    46
Tennessee                                      2704416    47
Texas                                         10798364    48
Utah                                           1433829    49
Vermont                                         239758    50
Virginia                                       3340509    51
Washington                                     2821109    53
West Virginia                                   519122    54
Wisconsin                                      2518727    55
Wyoming                                         198810    56
American Samoa                                    7808    60
Guam                                             49876    66
Commonwealth of the Northern Mariana Islands     12763    69
Puerto Rico                                     660654    72
United States Virgin Islands                     25652    78

In [42]:
df['EMP'].max()

'930852'

In [45]:
# df['EMP'].plot.bar()

# df.sort_values(by='EMP', ascending=False)